<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        :root {
            --black: #000;
            --white: #fff;
            --blue: #006dc6;
            --grey: #bfdaff;
            --border: rgba(0, 0, 0, 0.1);
            --border_full: rgba(0, 0, 0);
        }

        p {
            font-size: 14px;
            font-weight: 300;
            color: var(--black);
        }

        .white_big {
            font-size: 16px;
            font-weight: 400;
            color: var(--white);
        }

        .white {
            font-size: 15px;
            font-weight: 500;
            color: var(--white);
        }

        * span {
            font-size: 14px;
            font-weight: 600;
            color: var(--black);
        }

        h1 {
            font-size: 16px;
            font-weight: 600;
            color: var(--black);
        }

        h2 {
            font-size: 16px;
            font-weight: 400;
            color: var(--black);
        }

        h3 {
            font-size: 16px;
            font-weight: 300;
            color: var(--black);
        }

        h4 {
            font-size: 15px;
            font-weight: 600;
            color: var(--black);
        }

        h5 {
            font-size: 15px;
            font-weight: 400;
            color: var(--black);
        }

        h6 {
            font-size: 15px;
            font-weight: 300;
            color: var(--black);
        }

        ul,
        ol {
            padding-left: 40px;
        }

        li {
            font-size: 14px;
            font-weight: 300;
            color: var(--black);
        }

        .container {
            max-width: 780px;
            width: 90%;
            margin: 50px auto;
        }

        .header {
            width: 100%;
            height: 300px;
            border-top: 1px solid var(--border);
            border-left: 1px solid var(--border);
            border-right: 1px solid var(--border);
        }

        .body {
            width: 100%;
            min-height: 400px;
            border: 1px solid var(--black);
        }

        .content {
            width: 100%;
            min-height: 1px;
            text-align: center;
            padding: 4px;
            background: var(--grey);
        }

        .block {
            width: 100%;
            min-height: 1px;
            padding: 4px;
            border-top: 1px solid var(--black);
            border-bottom: 1px solid var(--black);
        }

        .box {
            width: 100%;
            padding: 8px 0;
            background: var(--blue);
            border-bottom: 1px solid var(--black);
            text-align: center;
        }

        .block_blue {
            width: 100%;
            padding: 4px;
            background: var(--blue);
        }

        .title_white {
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            color: var(--white);
        }

        .text_white {
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            color: var(--white);
        }

        .bold {
            font-size: 14px;
            font-weight: 600;
            color: var(--black);
        }

        .regular {
            font-size: 14px;
            font-weight: 300;
            color: var(--black);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <table>
                <td>
                    <div style="padding: 4px;">
                        <img src="https://hit-travel.org/media/hit-logo.png" alt="">
                    </div>
                </td>
                <td>
                    <div style="text-align: end; padding: 4px;">
                        <br>
                        <br>
                        <br>
                        <h4 style="color: var(--blue)">ОсОО «Хит-Трэвел»</h4>
                        <br>
                        <br>
                        <p style="color: var(--blue)">
                            Адрес: 720001, г.Бишкек, ул. Токтогула, 165
                        </p>
                        <p style="color: var(--blue)">
                            Моб.: +996 (557) 63 66 76
                        </p>
                        <p style="color: var(--blue)">
                            E-Мail: info@hit-travel.kg
                        </p>
                        <p style="color: var(--blue)">
                            http:// www.hit-travel.kg
                        </p>
                    </div>
                </td>
            </table>
        </div>
        <div class="body">
            <div class="box">
                <h1 class="white_big">
                    ДОГОВОР
                </h1>
            </div>
            <div class="content">
                <table style="width: 100%;">
                    <tr>
                        <th>
                            <h4>г.Бишкек</h4>
                        </th>
                        <th>
                            <h4>№ {{obj.request_number}}</h4>
                        </th>
                        <th>
                            <h5>{{date}}</h5>
                        </th>
                    </tr>
                </table>
            </div>
            <div class="block">
                <p>Общество с ограниченной ответственностью "Хит-Трэвел", именуемое в дальнейшем "Турагентство", в лице
                    Генерального директора Гусейнова Камиля Мурсаловича, действующего на основании Устава, с одной
                    стороны, и гражда (нин/ка), <span>{{obj.first_name}} {{obj.last_name}}</span> действующий/ая на
                    основании
                    паспорта <span>ИНН {{obj.inn}}, ID пасспорта {{obj.passport_id}}</span>,
                    выданный <span>{{obj.issued_by}}</span> от <span>{{obj.date_of_issue}}</span>,именуем (ый/ая) в
                    дальнейшем «Турист», с другой стороны,
                    вместе именуемые «Стороны»,
                    исходя из того, что Турист желает посетить страну для временного пребывания в
                    лечебно-оздоровительных, рекреационных, познавательных, физкультурно-спортивных,
                    профессионально-деловых, религиозных и иных целях без занятиядеятельностью, связанной с получением
                    дохода от источников в стране (месте) временного пребывания, на период от 24 часов до 6 месяцев
                    подряд, а Турагентство действует от своего имени, но за счет Туроператора иреализует Туристические
                    продукты подходящие Туристу,заключили настоящий Договор о нижеследующем:</p>
            </div>
            <div class="content">
                <h4>1. Термины и определения, встречающиеся в Договоре</h4>
            </div>
            <div class="block">
                <ol>
                    <li>
                        Стороны определили, что под нижеуказанными терминами они будут понимать следующее:
                    </li>
                </ol>
                <p><span>«Виза»</span> – отметка в паспорте Туриста, означающая специальное разрешение государства
                    страны назначения по туру на въезд, пребывание на определенный срок и выезд Туриста. Виза выдается в
                    порядке и на условиях, установленных законодательством данной страны;</p>
                <p><span>«Туристический продукт»</span> – комплекс прав требования по поводу оказания туристических
                    услуг, а именно услуг по размещению, перевозке, питанию Турис(та/тов), экскурсионные услуги, а так
                    же услуги гидов-переводчиков и другие услуги, предоставляемые в зависимости от целей путешествия,
                    оказываемых за общую цену;</p>
                <p><span>«Туроператор»</span> - лицо осуществляющее деятельность по формированию, продвижению и
                    реализации Туристического продукта;</p>
                <p><span>«Высокие даты»</span> - периоды повышения цен на авиаперевозки и другие услуги входящие в
                    Туристический пакет, к ним относятся католическое и крестьянское Рождество и Новый год (период с 24
                    декабря по 12 января) ежегодно, периоды школьных и студенческих каникул, карнавалы, международные
                    конкурсы, фестивали, спортивные соревнования, специальные программы - Олимпиады, Чемпионаты и прочие
                    неординарные даты и события;</p>
                <p><span>«Тур»</span> - комплекс услуг по размещению, перевозке, питанию туристов, экскурсионные услуги,
                    а так же услуги гидов-переводчиков и другие услуги, предоставляемые в зависимости от целей
                    путешествия согласно Спецификации.</p>
                <p> 2.Термины, предусмотренные п.1.1 Договора, применяются как в единственном, так и во множественном
                    числе.</p>
                <p> 3. При толковании Договора, независимо от того, кем это толкование будет осуществляться: одной из
                    Сторон, обеими Сторонами, либо третьими лицами, включая судебные органы, термины, предусмотренные п.
                    1.1 настоящего Договора, должны пониматься лишь в том значении, в каком они указаны в определениях
                    п. 1.1 настоящего Договора.</p>
            </div>
            <div class="content">
                <h1>2. ПРЕДМЕТ ДОГОВОРА</h1>
            </div>
            <div class="block">
                <ol>
                    <li>Турагентство на оговоренных настоящим Договором условиях уступает, а Турист приобретает
                        Туристический продукт в области международного туризма и оплачивает Турагентству обусловленную
                        цену. Информация о Туристском продукте указана в Спецификации, являющейся неотъемлемым
                        приложением к настоящему Договору (Приложение №1).</li>
                </ol>
            </div>
            <div class="content">
                <h1>3. СТОИМОСТЬ И УСЛОВИЯ ОПЛАТЫ</h1>
            </div>
            <div class="block">
                <ul>
                    <li><span>Стоимость настоящего Договора она же общая цена Туристического продукта составляет
                            {{obj.price}} {{obj.currency.currency}}, {{price_word}} {{obj.currency.currency}}</span>, которая включает все
                        налоги,
                        сборы и
                        отчисления, предусмотренные законодательством Кыргызской Республики.
                    </li>
                    <li>
                        Оплата производится Туристом в сомах по коммерческому курсу, установленному на день расчета, в
                        долларах США или Евро путем внесения наличных денежных средств в кассу Турагентства в следующем
                        порядке: <span>
                            {{obj.price}} {{obj.currency.currency}} ({{price_word}} {{obj.currency.currency}},
                            дополнительная сумма: {{obj.surcharge}} {{obj.currency.currency}},  {{surcharge_word}}
                            {{obj.currency.currency}})
                        </span>  которая включает все налоги, сборы и отчисления, предусмотренные законодательством
                        Кыргызской Республики.
                    </li>
                </ul>
                <p> <span>Остаток суммы будет выплачен ТУРИСТОМ до {{obj.deadline}}.</span>
                    Датой платежа считается дата поступления денежных средств в кассу Агентства.
                </p>
                <ul>
                    <li>Стоимость Туристического продукта (Стоимость Договора) может быть увеличена уже после
                        произведенной Туристом предоплаты в случае существенных изменений обстоятельств. К существенным
                        изменениям обстоятельств Стороны относят: резкое изменение курсов валют (более 5% от
                        установленных НБ КР на момент бронирования); введение новых или повышения действующих налогов,
                        сборов и других обязательных платежей, влияющих на стоимость туристского продукта;
                        непредвиденный рост транспортных тарифов; повышения консульских (посольских) сборов, изменения
                        стоимости оформления Визы. При этом Турагентство уведомляет Туриста по средством электронной
                        почты или телефонной связи о таких изменениях, и он обязуется в течение трех (3) дней, но не
                        позже одного (1) дня до вылета (в зависимости от того какая дата наступит раньше), произвести
                        доплату в сумме разницы изменившейся цены, либо отказаться от настоящего Договора путем
                        направления по электронной почте в адрес Турагентства заявления об отказе от Договора или
                        вручить данное заявление в письменной форме нарочно Турагентству. Возмещение убытков при
                        расторжении Договора в связи с существенными изменениями обстоятельств осуществляется в
                        соответствии с фактическими затратами Сторон.</li>
                </ul>
            </div>
            <div class="content">
                <h1>
                    4. ОБЯЗАННОСТИ ТУРАГЕНТСТВА
                </h1>
            </div>
            <div class="block">
                <span>Турагентство обязуется:</span>
                <ol>
                    <li>
                        Заблаговременно информировать Туриста о возможных изменениях в программе Туристического
                        продукта.
                    </li>
                    <li>
                        Предоставить Туристу полную и достоверную информацию об особенностях и потребительских свойствах
                        Туристического продукта, содержащуюся в Памятке туриста и иных приложениях к настоящему
                        Договору, а также предоставить Туристу иную информацию, необходимую для совершения туристской
                        поездки в соответствии с условиями настоящего Договора.
                    </li>
                    <li>
                        Своевременно передать Туристу, проездные документы, паспорта, Памятки туриста, туристические
                        путевки (ваучеры), авиабилеты, страховой полис и другие документы.
                    </li>
                    <li>
                        Проинформировать Туриста о месте нахождения, почтовых адресах и номерах контактных телефонов
                        органов государственной власти КР, дипломатических представительств и консульских учреждений КР,
                        находящихся в стране (месте) временного пребывания;
                    </li>
                    <li>
                        Передать Туристу пакет документов необходимый для осуществления туристической поездки не позднее
                        последнего рабочего дня, предшествующего дню начала тура.
                    </li>
                </ol>
            </div>
            <div style="padding: 4px; border-bottom: 1px solid var(--black);">
                <span>Турист обязуется: </span>
                <ol>
                    <li>
                        Сообщить Агентству номер своего мобильного телефона, по которым с ним можно связаться, а также
                        адрес электронной почты, которую он проверяет, не реже, трех раз в неделю.
                    </li>
                    <li>Предоставить в Турагентство все необходимые документы, указанные в Акте приемки-передачи
                        (Приложение №2) для обращения за Визой.</li>
                    <li>При подписании данного договора проинформировать представителя Агентства в письменном виде о
                        том, что Туристу ранее было отказано в получении Визы в каком-либо посольстве.</li>
                    <li>Нести полную ответственность за подлинность предоставленных им сведений и документов.</li>
                    <li>Своевременно произвести оплату стоимости настоящего Договора, в порядке предусмотренном разделом
                        3 Договора.</li>
                    <li>Неуклонно выполнить требования, изложенные в Памятке туриста, содержащей условия безопасности
                        Туриста и иные правила поведения во время путешествия.</li>
                    <li>Пройти профилактику в соответствии с международными медицинскими требованиями и соблюдать
                        правила личной гигиены и совершать мероприятия по профилактике инфекционных и паразитных
                        заболеваний.</li>
                    <li>Прибыть в аэропорт отправления, указанный в Спецификации (Приложение №1) за 3 часа до времени
                        вылета, указанного в авиабилете и пройти регистрацию на международный рейс.</li>
                </ol>
                <span>
                     Во время совершения путешествия, включая транзит, Турист обязуется:
                </span>
                <ol>
                    <li>
                        Соблюдать Памятку туриста и законодательство страны (места) временного пребывания, уважать ее
                        социальное устройство, обычаи, традиции, религиозные верования;
                    </li>
                    <li>
                        Соблюдать правила проживания и поведения в отелях и иные рекомендации и указания руководителя
                        группы или представителя туроператора в стране пребывания;
                    </li>
                    <li>Сохранять окружающую среду, бережно относиться к памятникам природы, истории и культуры в стране
                        (месте) временного пребывания;</li>
                    <li>
                        Соблюдать правила въезда в страну (место) временного пребывания, выезда из страны (места)
                        временного пребывания и пребывания там, а также в странах транзитного проезда;
                    </li>
                    <li>
                        Соблюдать во время путешествия правила личной безопасности и гигиены.
                    </li>
                    <li>
                        Возместить на месте нанесенный Туристом ущерб гостинице, ресторану, музею, автотранспортному или
                        другому предприятию, которое его обслуживает.
                    </li>
                </ol>
            </div>
            <div class="content">
                <h1>5. УСЛОВИЯ АННУЛЯЦИИ ТУРИСТИЧЕСКОГО ПРОДУКТА И РАСТОРЖЕНИЕ ДОГОВОРА</h1>
            </div>
            <div class="block">
                <ol>
                    <li>Изменения и дополнения в Спецификацию производятся по просьбе Туриста Турагентством только с
                        согласия туроператора.</li>
                    <li>Стороны договорились, что настоящий Договор будет расторгнут, а Туристический продукт
                        аннулирован, а Турист обязан возместить убытки в случае: нарушения Туристом условий платежей по
                        настоящему Договору; не предоставления Туристом документов необходимых для оформления
                        Туристического продукта или сведений о себе и лицах, которые отправляются в путешествие по
                        Туристическому продукту вместе с Туристом; отказ посольства Туристу в выдаче въездной визы в
                        страну временного пребывания; отказ Туриста от забронированного и подтвержденного Туристского
                        продукта.</li>
                    <li>В случае отказа Туриста от забронированного и подтвержденного Туристского продукта (аннуляции),
                        он обязан уплатить Турагентству неустойку. Размер неустойки зависит от сроков аннуляции, состава
                        забронированного Туристского продукта и определяется в соответствии с п.6.4 настоящего Договора.
                        В случае аннуляции Туристского продукта не позднее, чем за 30 дней до начала путешествия,
                        Турагентство возвращает Туристу уплаченные за Туристский продукт денежные средства за вычетом
                        документально подтвержденных фактических затрат.</li>
                    <li>При аннуляции Туристского продукта, не забронированного на период «Высоких дат» Турист обязан
                        уплатить Турагентству неустойку в следующем размере:</li>
                </ol>
                <table style="border-collapse: collapse; border: 1px solid var(--black); margin: 4px 0;">
                    <tr style="background: var(--blue);">
                        <th>
                            <div style="padding: 4px;">
                                <h1 class="white">№</h1>
                                <h1 class="white">/</h1>
                            </div>
                        </th>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <h1 class="white">Дата аннуляции Туристом Туристического пакета,
                                    по отношению к дате поездки</h1>
                            </div>
                        </td>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <h1 class="white">Размер денежного удержания (неустойки) от стоимости наземного
                                    обслуживания
                                    входящего в Туристический пакет,
                                    в %</h1>
                            </div>
                        </td>
                    </tr>
                    <tr style="border-top: 1px solid var(--black);">
                        <th>
                            <div style="padding: 4px;">
                                <p>1</p>
                            </div>
                        </th>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <p>От 20 (двадцати)160 (сто шестьдесят) до суток</p>
                            </div>
                        </td>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <p>100 (сто) %</p>
                            </div>
                        </td>
                    </tr>
                    <tr style="border-top: 1px solid var(--black);">
                        <th>
                            <div style="padding: 4px;">
                                <p>2</p>
                            </div>
                        </th>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <p> От 19 (девятнадцати) и менее</p>
                            </div>
                        </td>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <p>100 (сто) %</p>
                            </div>
                        </td>
                    </tr>
                    <tr style="border-top: 1px solid var(--black);">
                        <th>
                            <div style="padding: 4px;">
                                <p>3</p>
                            </div>
                        </th>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <p>Авиабилеты невозвратные</p>
                            </div>
                        </td>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <p>100 (сто) %</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <ol>
                    <li>При аннуляции Туристского продукта, забронированного на период «Высоких дат» Турист обязан
                        уплатить Турагентству неустойку в следующем размере:</li>
                </ol>
                <table style="border-collapse: collapse; border: 1px solid var(--black); margin: 4px 0;">
                    <tr style="background: var(--blue);">
                        <th>
                            <div style="padding: 4px;">
                                <h1 class="white">№</h1>
                                <h1 class="white">/</h1>
                            </div>
                        </th>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <h1 class="white">Дата аннуляции Туристом Туристического пакета,
                                    по отношению к дате поездки</h1>
                            </div>
                        </td>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <h1 class="white">Размер денежного удержания (неустойки) от стоимости наземного
                                    обслуживания
                                    входящего в Туристический пакет,
                                    в %</h1>
                            </div>
                        </td>
                    </tr>
                    <tr style="border-top: 1px solid var(--black);">
                        <th>
                            <div style="padding: 4px;">
                                <p>1</p>
                            </div>
                        </th>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <p>От 120 (сто двадцать) и менее</p>
                            </div>
                        </td>
                        <td>
                            <div style="padding: 4px; border-left: 1px solid var(--black);">
                                <p>100 (сто) %</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <ol>
                    <li>
                        Стоимость страховки, визового сбора (консульского сбора), услуг курьера, пересылки
                        документов при аннуляции Туристского продукта возврату не подлежит.
                    </li>
                    <li>
                        Возврат денежных средств за авиабилет, при включении в заявку авиаперелета регулярным рейсом
                        осуществляется по правилам, предусмотренным авиаперевозчиком. Возврат денежных средств за
                        авиабилет, при включении в заявку авиаперелета чартерным рейсом не производится, если иное не
                        предусмотрено дополнительным соглашением сторон.
                    </li>
                    <li>
                        В случае отказа от добровольной выплаты неустойки Турагентство вправе удержать причитающуюся ему
                        сумму с платежа, произведенного Туристом по настоящему Договору.
                    </li>
                    <li>
                        В случае введения ограничительных мер со стороны Государства, таких как введение ЧС и ЧП или
                        других карантинных мер напрямую препятствующих выполнению обязательств турагентства,
                        туроператора или авиакомпании, возврат денежных средств будет осуществлен по средством депозита
                        или именного ваучера со сроком использования в течении одного года с момента снятия
                        ограничительных мер.
                    </li>
                    <li>
                        В случае аннуляции Туристического продукта и расторжения настоящего Договора возврат платежей
                        производится Турагентством в течение 30 дней и только по возвращению настоящего Договора,
                        квитанции об оплате и туристической путевки (туристического ваучера).
                    </li>
                    <li>
                        Турагентство вправе отказаться от исполнения настоящего Договора лишь при условии полного
                        возмещения Туристу убытков, причиненных расторжением Договора, кроме случаев, когда это
                        произошло по вине Туриста.
                    </li>
                    <li>
                        В случае аннуляции Туристического продукта и расторжения настоящего Договора возврат платежей
                        производится Турагентством строго в соответствии с приходным кассовым ордером (счет фактура,
                        счет на оплату), в строгом соответствии с фактически оплаченной валютой на момент приобретения
                        услуги
                    </li>
                </ol>
            </div>
            <div class="content">
                <h1>6. ГАРАНТИИ СТОРОН</h1>
            </div>
            <div class="block">
                <ol>
                    <li>
                        Турагентство гарантирует, что имеет необходимые деловые отношения для выполнения настоящего
                        Договора и выполнит его надлежаще.
                    </li>
                    <li>
                        Турист гарантирует, что:
                    </li>
                </ol>
                <ul>
                    <li>
                        на дату заключения Договора он является дееспособным лицом в возрасте от 18 лет;
                    </li>
                    <li>
                        имеет загранпаспорт со сроком действия не менее 6 мес. от предполагаемой даты поездки;
                    </li>
                    <li>
                        своевременно оформит и предоставит требуемые сотрудником Турагентства документы;
                    </li>
                    <li>
                        своевременно оплатит стоимость настоящего Договора.
                    </li>
                </ul>
            </div>
            <div class="content">
                <h1>
                    7. ОТВЕТСТВЕННОСТЬ И ПОРЯДОК РАСТОРЖЕНИЯ ДОГОВОРА
                </h1>
            </div>
            <div class="block">
                <ol>
                    <li>Турагентство несет ответственность перед Туристом в соответствии с действующим законодательством
                        КР за неисполнение или ненадлежащее исполнение обязательств по настоящему Договору.</li>
                    <li>
                        Турагентство несет ответственность перед Туристом в соответствии с действующим законодательством
                        КР: за неисполнение или ненадлежащее исполнение обязательств по оказанию услуг входящих в
                        Туристический продукт, за наличие в Туристическом продукте существенных недостатков, включая
                        существенные нарушения требований к качеству и безопасности Туристического продукта за
                        исключением случаев предусмотренных п. 8.3 и ст.9 настоящего Договора.
                    </li>
                    <li>Турагентство не несет ответственность за ущерб, причиненный Туристу и лицам указанным в
                        Спецификации (Приложение №1) совместно использующих с ним Туристический продукт вследствие:</li>
                    <li>Действия перевозчиков (изменение, отмена, перенос, задержка авиарейсов, поездов, потеря или
                        повреждение багажа и т.п.).</li>
                    <li>Действия консульских служб, таможенных и иммиграционных властей (в том числе отказ в выдаче или
                        несвоевременная выдача въездной или транзитной визы).</li>
                    <li>
                        Нарушения Туристом таможенных и пограничных формальностей, правил проезда и провоза багажа, а
                        также особенностей поведения в стране временного пребывания и т.п.
                    </li>
                    <li>
                        Отказа Туриста от части или всех услуг входящих в состав Туристического продукта, или расходами
                        Туриста на дополнительные услуги, не предусмотренные Спецификацией (Приложение №1), а также за
                        самовольное изменение Туристом оплаченного маршрута или несоблюдение правил группового
                        прохождения маршрута.
                    </li>
                    <li>
                        Турагентство не несет ответственность перед Туристом за действия (бездействия) перевозчиков и
                        страховщиков. Ответственность за выполнение обязательств по транспортной перевозке и страхованию
                        перед Туристом несет перевозчик и страховщик.
                    </li>
                    <li>
                        В случае просрочки исполнения обязательств по оплате Туристического продукта Турист по
                        требованию Турагентства уплачивает неустойку в размере 0,1 % общей цены Туристического продукта
                        за каждый день просрочки.
                    </li>
                    <li>
                        В случае если Турист нарушит сроки предоставления необходимых документов для участия в туре,
                        предусмотренные настоящим Договором или сообщенные ему представителем Турагентства, настоящий
                        Договор считается расторгнутым, при этом Туристу возвращаются все ранее произведенные платежи за
                        исключением расходов, понесенных Турагентством в связи с исполнением настоящего Договора.
                    </li>
                    <li>
                        В случае отказа Туристом от использования Туристического продукта по любой причине настоящий
                        Договор считается расторгнутым.
                    </li>
                    <li>
                        В случае расторжения настоящего Договора возврат платежей производится Турагентством в течение
                        30 дней и только по возвращению настоящего Договора, квитанции об оплате и туристической путевки
                        (туристического ваучера) при этом Турист обязан возместить Турагентству понесенные при
                        исполнении поручения издержки, а так же причитающееся вознаграждение соразмерно оказанных
                        Турагентством.
                    </li>
                    <li>
                        Турист может отказаться от поездки. При изменении состава и качества Туристического продукта
                        и/или отказа от поездки Турагентство удерживает свои фактически понесенные затраты на оформление
                        Туриста в тур. Удерживаемые фактически понесенные затраты Турагентства по запросу Туриста могут
                        быть документально подтверждены.
                    </li>
                </ol>
            </div>
            <div class="content">
                <h1>8. ОБСТОЯТЕЛЬСТВА НЕПРЕОДОЛИМОЙ СИЛЫ (ФОРС-МАЖОР)</h1>
            </div>
            <div class="block">
                <ol>
                    <li>
                        Стороны освобождаются от ответственности указанной в разделе 8 настоящего Договора, за частичное
                        или полное неисполнение обязательств по Договору, если оно явилось следствием действия
                        обстоятельств непреодолимой силы, а именно: землетрясений, наводнений и других стихийных
                        бедствий, эпидемий, эмбарго, забастовок, блокады, гражданских беспорядков, войны и военных
                        действий разного рода, актов законодательной и исполнительных властей, препятствующих исполнению
                        обязательств, изменений иммиграционной политики, террористических актов возникших после
                        заключения настоящего соглашения. При этом срок исполнения обязательств по настоящему Договору
                        отодвигается соразмерно времени, в течение которого действовали такие обстоятельства.
                    </li>
                    <li>
                        Любая из сторон при возникновении обстоятельств непреодолимой силы обязана в течение 5 (пяти)
                        календарных дней с даты их возникновения информировать другую сторону о наступлении этих
                        обстоятельств в письменном виде. Данные обстоятельства должны быть подтверждены соответствующим
                        уполномоченным государственным органом.
                    </li>
                    <li>
                        Если невозможность исполнения обязательств сторонами будет существовать свыше 15 (пятнадцати)
                        дней, то стороны будут иметь право провести дополнительные переговоры для выявления приемлемых
                        альтернативных способов исполнения Договора или расторгнуть Договор. <span>В случае
                            положительного
                            результата на анализ ПЦР тест, возврат стоимости тура не разрешен по правилам туроператора,
                            штраф 100%.</span>
                    </li>
                    <li>
                        <span>
                            Возможен перенос даты по усмотрению отеля со штрафом от 50% и выше от первоначальной
                            стоимости.
                        </span>
                    </li>
                    <li>
                        <span>
                            Авиабилеты на чартерные рейсы не подлежат возврату!
                        </span>
                    </li>
                    <li>
                        <span>
                            В случае не подтверждения отеля от туроператора, рассматриваются альтернативные варианты для
                            Туриста.
                        </span>
                    </li>
                </ol>
            </div>
            <div class="content">
                <h1>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ</h1>
            </div>
            <div class="block">
                <ol>
                    <li>
                        Посольство (консульство) иностранного государства (страны пребывания, транзита) вправе отказать
                        в выдаче въездной визы Туристу без объяснения причин такого отказа.
                    </li>
                    <li>
                        Стороны договорились о том, что обмен информацией будет производиться по каналам электронной
                        почты, позволяющей достоверно установить, что документы исходят от стороны данного Договора, а
                        именно переписка, уведомления, сообщения будут отправлены с электронного почтового ящика
                        указанного в реквизитах данной стороны. В случае судебного спора сообщения, переданные по
                        электронной почте являются доказательствами в суде.
                    </li>
                    <li>
                        Стороны договорились, что все споры или требования, возникающие из настоящего Договора или
                        относящиеся к нему, включая его прекращение и/или недействительность, подлежат обязательному
                        досудебному урегулированию (в соответствии с п.2 ст.10 ГК КР, п.3 ст. 4 ГПК КР) путем
                        переговоров на основе действующего законодательства Кыргызской Республики и обычаев делового
                        оборота.
                    </li>
                    <li>
                        Стороны пришли к соглашению, определить договорную подсудность (в соответствии со ст. 32 ГПК
                        КР), что в случае, если стороны не урегулируют до суда свои разногласия, любые споры или
                        требования, возникающие из настоящего Договора или относящиеся к нему, в том числе касающиеся
                        его нарушения, прекращения, расторжения или недействительности, взыскания задолженности,
                        подлежат разрешению в Межрайонном суде города Бишкек.
                    </li>
                    <li>
                        Ни одна из сторон не вправе передавать свои права и обязанности по настоящему Договору третьим
                        лицам без письменного согласия на то другой Стороны.
                    </li>
                    <li>
                        Об изменении почтовых, банковских реквизитов стороны извещают друг друга в пятидневный срок.
                        Ответственность за последствия, возникшие в результате не сообщения об изменении вышеуказанных
                        реквизитов, несет виновная сторона.
                    </li>
                </ol>
            </div>
            <div class="content">
                <h1>10. РАСПИСКА</h1>
            </div>
            <div class="block">
                <span>Я, Турист <span>{{obj.first_name}} {{obj.last_name}}</span> , информирую Турагентство, что мне
                    и/или лицам указанным в
                    Спецификации
                    ранее не было отказано в получении Визы в страну, в которую влетаю. __________________________.
                </span>
                <p style="margin-left: 30px;">(Подпись Туриста)</p>
            </div>
            <div class="content">
                <h1>11. РЕКВИЗИТЫ СТОРОН</h1>
            </div>
            <table style="border-collapse: collapse; border-top: 1px solid var(--black);">
                <tr>
                    <td>
                        <div style="padding: 4px;">
                            <h4 style="text-align: center;">ТУРАГЕНТСТВО</h4>
                            <span>ОсОО «Хит-Трэвел»</span>
                            <p>ОКПО 31420813 ИНН 00404202210245
                                Юр.адрес: Кыргызская Республики, г.Бишкек, ул.Манасчы Сагынбая 77
                                Физ. адрес: Кыргызская Республики, 720001, г.Бишкек, ул. Токтогула, 165.
                                Тел.: +996 (557) 63 66 76;</p>
                            <span>E-mail: info@hit-travel.kg</span>
                            <p>http://www.<span>hit-travel.kg</span></p>
                            <span>Генеральный директор</span>
                            <br>
                            <span>ОсОО «Хит-Трэвел»</span>
                            <br>
                            <span>К.М. Гусейнов ________________</span>
                            <p style="margin-left: 30px;">(подпись) МП</p>
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h4 style="text-align: center;">ТУРИСТ</h4>
                            <span>{{obj.first_name}} {{obj.last_name}}</span>
                            <p>Адрес:  -</p>
                            <p>Моб. тел.: <span>{{obj.phone}}</span></p>
                            <p>Дом. тел.:</p>
                            <p>Тел. близкого родственника:</p>
                            <span>
                                E-mail: {{obj.email}}
                            </span>
                            <br>
                            <br>
                            <br>
                            <p>Подпись</p>
                            <p>__________________________________</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="block_blue">
            <h1 class="title_white">
                СПЕЦИФИКАЦИЯ
            </h1>
            <p class="text_white">информация о потребительских свойствах Туристского продукта</p>
        </div>
        <div style="margin-top: 10px; display: flex; justify-content: center;"> Таблица 1.</div>

        <div style="border: 1px solid var(--black); margin-top: 20px;">
            <table style="border-collapse: collapse; width: 100%;">
                <tr style="background: var(--blue);">
                    <th>
                        <div style="padding: 4px;">
                            <h1 class="white">Фамилия Имя Отчество Туристов</h1>
                        </div>
                    </th>
                    <th>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h1 class="white">№ Паспорта</h1>
                        </div>
                    </th>
                    <th>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h1 class="white">Дата рождения</h1>
                        </div>
                    </th>
                    <th>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h1 class="white">Гражданство Туристов</h1>
                        </div>
                    </th>
                </tr>
            </table>
            <div style="border-top: 1px solid var(--black); padding: 4px;">
                <p class="bold">{{obj.first_name}} {{obj.last_name}}</p>
                <p class="regular">{информация по авиаперелетам}</p>
                <p class="regular">{{operatorname}}</p>
                <p class="bold">Заселение с 14:00 до 15:00</p>
                <p class="bold">Выселение до 12:00</p>
            </div>
            <table style="border-collapse: collapse; width: 100%; border-top: 1px solid var(--black);">
                <tr style="background: var(--blue);">
                    <th>
                        <div style="padding: 4px;">
                            <h1 class="white">{{flydate}} - {{nights}} ночей
                            </h1>
                        </div>
                    </th>
                    <th>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h1 class="white">Категория отеля</h1>
                        </div>
                    </th>
                    <th>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h1 class="white">Тип номера</h1>
                        </div>
                    </th>
                    <th>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h1 class="white">Питание</h1>
                        </div>
                    </th>
                </tr>
            </table>
            <div style="border-top: 1px solid var(--black); padding: 4px;">
                <p class="regular">{информация по трансферам} </p>
                <p class="regular">{информация по визам}</p>
                <p class="regular">{информация по отелям}</p>
                <p class="regular">{информация по страховке}</p>
                <p class="regular">{отели заявки, с категорией по звездам}</p>
            </div>
        </div>
        <p class="bold">
            Общая цена Туристического продукта составляет {{obj.price}} {{obj.currency.currency}}, {{price_word}} {{obj.currency.currency}}
        </p>

        <table style="border-collapse: collapse; border: 1px solid var(--black); margin-top: 20px; width: 100%;">
            <tr>
                <td>
                    <div style="padding: 4px;">
                        <span>Турагентство</span>
                        <p>Генеральный директор ОсОО «Хит-Трэвел»</p>
                        <p>К.М.Гусейнов</p>
                        <span>________________</span>
                        <p style="font-size: 12px;">(подпись) МП</p>
                    </div>
                </td>
                <td>
                    <div style="padding: 4px; border-left: 1px solid var(--black);">
                        <span>Турист</span>
                        <p>{{obj.first_name}} {{obj.last_name}}</p>
                        <br>
                        <p>__________________________________</p>
                        <p style="font-size: 12px;">(подпись) МП</p>
                    </div>
                </td>
            </tr>
        </table>

        <p style="text-align: end; margin-top: 10px;">
            <mark class="bold">Приложение №2 к Договору № {{obj.request_number}} </mark>
            от {{date}}
        </p>

        <div style="margin-top: 20px;" class="block_blue">
            <h1 class="title_white">
                АКТ
            </h1>
            <p class="text_white">приема-передачи документов для оформления Туристического продукта</p>
        </div>
        <div style="margin-top: 10px; display: flex; justify-content: center;">
            <p style="text-align: center;">
                от {{date}}.
                Мы, нижеподписавшиеся, представитель <span class="bold">Турагентства</span> (ОсОО "Хит-Трэвел"),Гусейнов
                К.М. с одной
                стороны
                и <span class="bold">Турист {{obj.first_name}} {{obj.last_name}}</span> с другой стороны составили настоящий АКТ о том, что
                Турист передал, а
                Турагентство приняло в рамках Договора 
                <mark class="bold">№ {{obj.request_number}} от</mark> {{date}} следующие документы
                для
                оформления Туристического продукта:
            </p>
        </div>
        <div style="border: 1px solid var(--black); margin-top: 20px;">
            <table style="border-collapse: collapse; width: 100%;">
                <tr style="background: var(--blue);">
                    <th>
                        <div style="padding: 4px;">
                            <h1 class="white">Отметка о наличии док-та</h1>
                        </div>
                    </th>
                    <th>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h1 class="white">Перечень документов для оформления Туристического продукта</h1>
                            <ul>
                                <li>Копии действующих заграничных паспортов туристов</li>
                            </ul>
                        </div>
                    </th>
                    <th>
                        <div style="padding: 4px; border-left: 1px solid var(--black);">
                            <h1 class="white">Отметка об отсутствии док-та</h1>
                            <br>
                        </div>
                    </th>
                </tr>
            </table>
            <div style="border-top: 1px solid var(--black); padding: 4px;">
                <p class="bold">Вышеуказанные документы для оформления Туристического продукта должны быть предоставлены
                    Туристом в Турагентство и сданы по настоящему АКТУ до {deadline по оплате}., включительно. Настоящий
                    Договор считается расторгнутым, если отсутствующие документы Турист не предоставит Турагентству до
                    {deadline по оплате} </p>
            </div>
        </div>
    </div>
</body>

</html>